.movies-list__item {
  display: grid;
  grid-template-columns: auto 220px;
  background-color: #f4f4f4;
  height: 134px;
}

.movies-content__content {
  box-sizing: border-box;
  padding: 22px;
  display: grid;
}

.movies-list__name {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}

.movies-list__link {
  color: #000;
  transition: color 0.6s;
  text-decoration: none;
}

.movies-list__link:hover {
  color: #3456f3;
}

.movies-list__duration {
  margin: 13px 0 33px;
  font-size: 11px;
  line-height: 1.1;
  color: #a0a0a0;
}

.movies__image-container {
  max-width: 220px;
  overflow: hidden;
  position: relative;
}

.movies__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 134px;
  padding: 6px;
  box-sizing: border-box;
  transition: transform 1s;
  position: relative;
  z-index: 1;
}

.movies-list__link-image {
  z-index: 3;
}

.movies__image:hover {
  transform: scale(0.9);
}

.movies-list__save {
  padding: 0;
  cursor: pointer;
  width: 14px;
  height: 12px;
  border: none;
  background: url("../../images/heart-icon.svg") no-repeat center;
  transition: background-image 0.6s, transform 0.6s;
}

.movies-list__save:hover {
  transform: scale(1.2);
}

.movies-list__save_active {
  background-image: url("../../images/heart-icon-active.svg");
}

.movies-list__delete {
  padding: 0;
  cursor: pointer;
  width: 14px;
  height: 12px;
  border: none;
  background: url("../../images/cross.svg") no-repeat center;
  transition: opacity 0.6s;
}

.movies-list__delete:hover {
  opacity: 0.7;
}

@media screen and (max-width: 540px) {
  .movies-list__item {
    grid-template-columns: auto;
    grid-template-rows: auto minmax(64px, auto);
    height: auto;
  }

  .movies__image-container {
    max-width: 520px;
    grid-row: 1;
  }

  .movies__image {
    height: 240px;
    padding: 0;
  }

  .movies-content__content {
    grid-template-rows: auto 14px;
    grid-template-columns: auto 12px;
    padding: 14px 16px 16px 12px;
    row-gap: 16px;
    align-items: center;
  }

  .movies-content__name {
    font-size: 12px;
    line-height: 1.25;
  }

  .movies-list__duration {
    margin: 0;
  }

  .movies-list__save {
    grid-column: -1 / -2;
    grid-row: 1;
  }

  .movies-list__delete {
    grid-column: -1 / -2;
    grid-row: 1;
  }
}

@media screen and (max-width: 400px) {
  .movies-list__item {
    grid-template-rows: auto minmax(64px, auto);
  }

  .movies__image {
    height: 164px;
  }
}
