.search__wrapper {
  width: calc(100% - 140px);
  max-width: 1140px;
  margin: 0 auto 10px;
  padding: 60px 0 51px;
  border-bottom: 1px solid #e8e8e8;
}

.search-form__form {
  position: relative;
}

.search__input {
  width: 100%;
  height: 46px;
  border-radius: 40px;
  background-color: #f4f4f4;
  border: none;
  color: #000;
  font-size: 13px;
  line-height: 1.31;
  box-sizing: border-box;
  padding: 0 0 0 22px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  transition: box-shadow 0.6s;
}

.search__input::placeholder {
  color: #a0a0a0;
  font-size: 13px;
  line-height: 1.31;
}

.search__input:focus-visible {
  outline: none;
  box-shadow: inset 0 0 4px 0;
}

.search__button {
  border: 0;
  padding: 0;
  width: 58px;
  height: 34px;
  border-radius: 48px;
  background-color: #3456f3;
  color: #fff;
  font-size: 11px;
  line-height: 1.64;
  font-family: Inter, Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: opacity 0.6s;
  position: absolute;
  top: 6px;
  right: 6px;
}

.search__button:hover {
  opacity: 0.8;
}

.search__error {
  visibility: hidden;
  display: block;
  margin: 22px 22px 0 0;
  color: #ee3465;
  font-size: 13px;
  line-height: 1.3;
  text-align: center;
}

.search__error_inactive {
  visibility: inherit;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  margin: 38px 0 0;
  cursor: pointer;
}

.filter__checkbox {
  margin: 0;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #ebebeb;
  appearance: none;
  position: relative;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.filter__checkbox::before {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: #f5f5f5;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 6px;
  transition: left 0.3s;
}

.filter__checkbox:checked {
  background-color: #2be080;
}

.filter__checkbox:checked::before {
  left: 22px;
}

@media screen and (max-width: 800px) {
  .search__wrapper {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 400px) {
  .search__wrapper {
    width: calc(100% - 36px);
  }

  .filter__checkbox {
    font-size: 11px;
    line-height: 1.6;
  }
}
