.header {
  box-sizing: border-box;
}

.header_gray {
  background-color: #dddee3;
}

.header__wrapper {
  box-sizing: border-box;
  max-width: 1140px;
  min-height: 74px;
  width: calc(100% - 140px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
