.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
  padding: 232px 20px;
}

.form__title {
  font-size: 24px;
  line-height: 1.208333;
  margin: 40px 0;
  font-weight: 500;
}

.form-body {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  font-weight: 500;
  font-style: normal;
  flex: 1;
}

.form-body__label {
  display: flex;
  flex-direction: column;
  color: #A0A0A0;
  font-size: 10px;
  line-height: 1.2;
}

.form-body__input {
  border: none;
  border-bottom: 1px solid #E8E8E8;
  padding: 5px 0 10px;
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
  transition: border-color 0.7s;
}

.form-body__input:focus-visible {
  outline: none;
  border-color: #3456F3;
}

.form-body__input_incorrect {
  color: #EE3465;
}

.form-body__error {
  visibility: hidden;
  color: #EE3465;
  margin: 6px 0 0;
  font-size: 10px;
  line-height: 1.2;
}

.form-body__error_is-active {
  visibility: inherit;
}

.form-body__button {
  background-color: #3456F3;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  line-height: 1.2;
  border: none;
  padding: 0;
  margin: auto 0 0;
  width: 100%;
  height: 45px;
  cursor: pointer;
  transition: opacity 0.6s;
}

.form-body__button:hover {
  opacity: 0.8;
}

.form-body__button_inactive {
  display: none;
}

.form__text {
  font-size: 14px;
  line-height: 1.2;
  color: #A0A0A0;
  text-align: center;
  margin: 16px 0 0;
}

.form__link {
  color: #3456F3;
  text-decoration: none;
  margin: 0 0 0 6px;
  transition: opacity 0.6s;
}

.form__link:hover {
  opacity: 0.7;
}