.tech {
  min-height: 625px;
  background-color: #f5f5f5;
}

.tech__wrapper {
  max-width: 1140px;
  width: calc(100% - 140px);
  padding: 100px 0;
  margin: 0 auto;
}

.tech__content {
  margin: 90px auto 100px;
  max-width: 600px;
}

.tech-content__title {
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

.tech-content__description {
  max-width: 460px;
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
  margin: 26px auto 0;
  letter-spacing: -0.04em;
}

.tech__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 90px);
}

.tech__item {
  height: 60px;
  border-radius: 18px;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.2;
}


@media screen and (max-width: 800px) {
  .tech__wrapper {
    width: calc(100% - 100px);
  }

  .text__list {
    grid-template-columns: repeat(auto-fill, 84px);
  }

  .tech__item {
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 540px) {
  .tech__wrapper {
    width: calc(100% - 28px);
    padding: 70px 0;
  }

  .tech-content__title {
    font-size: 30px;
    line-height: 1.2;
  }

  .tech-content__description {
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: -0.04em;
  }

  .tech__content {
    margin: 60px 0 50px;
  }
}
